.form-wrap {
	background: $grey-bg;
}

.form {
	form {
		display: flex;
		justify-content: space-between;
			@include breakpoint(xs) {
				justify-content: center;
				flex-direction: column;
			}
			@include breakpoint(sm) {
				justify-content: space-around;
				flex-wrap: wrap;
			}
			@include breakpoint(md) {
				align-items: center;
				flex-wrap: nowrap;
			}
		input {
			width: 100%;
			padding-left: 17px;
			font-size: 22px;
			font-weight: 400;
			font-family: $main-font-family, sans-serif;
			background: $white;
			border: 1px solid $form-border-color;
			height: 49px;
			margin-right: 45px;
			color: #c0c0c0;
			@include breakpoint(xs) {
				margin-right: 0;
				margin-bottom: 15px;
			}
			@include breakpoint(sm) {
				margin-right: 0;
				margin-bottom: 15px;
			}
			@include breakpoint(md) {
				margin-bottom: 0;
				margin-right: 15px;
			}

		}
		button {
			background-color: $gren;
			text-transform: uppercase;
			border: 1px solid $form-border-color;
			text-align: center;
			font-size: 24px;
			font-family: $main-font-family, sans-serif;
			color: $white;
			height: 66px;
			width: 100%;
			cursor: pointer;
		}
	}
}