.gallery {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	padding-left: 25%;
	a {
		flex-basis: 25%;
		margin-bottom: 25px;
	}
}

.portfolio-wrap {
	position: relative;
	&:before {
		content: '';
		position: absolute;
		top: 0;
		right: 0;
		left: 0;
		bottom: 0;
		background-image: url('../img/portfolio-bg.jpg');
		background-repeat: no-repeat;
		background-size: cover;
		@include breakpoint(xs) {
			left: 0;
		}
		@include breakpoint(md) {
			left: -30%;
		}
	}
}