.promo{
  @include breakpoint (md)
  {
    display: flex;
    height: 65px
  }
  &:before{
    content: '';
    background-color: $pink;
    height: 83px;
    width: 690px;
    display: block;
    position: absolute; 
    top: -9px;
    right: 100%;
    z-index: 1;
  }
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    background-color: $light-blue;
    height: 65px;
    width: 1920px;
    left: 100%;
  }
  &__right{
    color: $text-dark;
    background-color: $light-blue;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 12px 10px;
    display: flex;
    align-items: center;
    text-align: center;
    @include breakpoint (md)
    {
      text-align: left;
      height: 65px;
      width: 75%;
    }
  }
  & span{
    color:$white; 
    font-size: 14px;
  }
  &__left{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $pink;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: $white;
    z-index: 1;
    padding: 15px 10px;
    @include breakpoint (md)
    {
      justify-content: start;
      height: 83px;
      font-size: 47px;
      width: 25%;
      top:-9px;
      @media (max-width: 840px){
        font-size: 40px;
      }
    }
  }
}