.promo{
  @include breakpoint (md)
  {
    display: flex;
    height: 65px
  }
  &:before{
    content: '';
    background-color: $pink;
    height: 83px;
    width: 100vw;
    display: block;
    position: absolute; 
    top: -9px;
    right: 100%;
    }
  &:after{
    content: '';
    display: block;
    position: absolute;
    top: 0px;
    background-color: $light-blue;
    height: 65px;
    width: 100vw;
    left: 100%;
  }
  &__right{
    color: $text-dark;
    background-color: $light-blue;
    font-size: 17px;
    font-weight: bold;
    text-align: center;
    padding: 12px 10px;
    display: flex;
    @include breakpoint (md)
    {
      height: 65px;
      width: 75%;
    }
  }
  & span{
    color:$white; 
    font-size: 14px;
  }
  &__left{
    position: relative;
    background-color: $pink;
    font-size: 40px;
    text-align: center;
    font-weight: bold;
    color: $white;
    padding: 23px 10px;
    @include breakpoint (md)
    {
      text-align: left;
      height: 83px;
      text-align: right;
      font-size: 47px;
      width: 25%;
      top:-9px;
      padding: 15px 28px 15px 0px;
    }
  }
}