@font-face {
    font-family: 'Sansation';
    src: url('../fonts/Sansation_Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'sansation';
    src: url('../fonts/Sansation_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;

}



