@font-face {
    font-family: 'Sansation';
    src: url('../fonts/Sansation_Regular.ttf') format('truetype');
    font-style: normal;
}
@font-face {
    font-family: 'sansation';
    src: url('../fonts/Sansation_Bold.ttf') format('truetype');
    font-weight: bold;
    font-style: normal;
}



.fa-check-circle {
	color: $white;
	@include breakpoint(xs) {
		font-size: 30px;
	}
	@include breakpoint(sm) {
		font-size: 50px;
	}
	@include breakpoint(md) {
		font-size: 60px;
	}
}