//<<<<<<< HEAD
$main-font-family: Sansation;
//=======
$ofsets: 15px;

$gutter: 15px;

$utra-light-gray: #fcfcfb;

$form-border-color: #cfcfcf;

$utra-dark-gray:#707070;

$pink:#f52556;

$light-blue:  #4b9bf0;

$more-dark-blue: #52a2f7;

$icon-bg-blue: #54a5f7;

$icon-color-gren: #95d837;

$neon-blue: #3d97f5;

$gren: #76c327;

$neon-gren: #a3ec58;

$icon-bg-gren: #65b914;

$gren-hover: #b5f578;

$blue-hover: #cee6ff;

$white: #fff;

$text-dark: #000000;

$grey-bg :#f6f6f6;

$advantsges-border-tex-color: #c9c9c9;

//>>>>>>> edc20a44bf55a9404a32d9910e395d3674943629
