doctype
html
  head
    include chunks/head 
  body
    include chunks/header
    include chunks/buttons
    include chunks/icons
    include chunks/title
    include chunks/advantages-t
    include chunks/form
    include chunks/customers
  include chunks/script