doctype
html
  head
    include chunks/head 
  body
    include chunks/logo
    include chunks/phone
    include chunks/address
    include chunks/title
    include chunks/advantages-t
  include chunks/script