doctype
html
  head
    include chunks/head 
  body
    include chunks/header
    include chunks/baner
    include chunks/title
    include chunks/advantages-t
    include chunks/promo
    include chunks/form
    include chunks/customers
    include chunks/advantages-block
    include chunks/portfolio
    include chunks/customers
    include chunks/form-letter
    include chunks/guarantee
    include chunks/contacts-block
    include chunks/promo
    include chunks/form
    include chunks/copyrights
  include chunks/script