- 
  var adventages = [
  {
    title: '#[span] 1000 #[br] проектов за #[span] 7 лет ',
    text:'Более 1000 проектов за 7 лет по всей России и СНГ'
  },
  {
    title: "Допуск CPO",
    text:' Имеется допуск генерального проектировщика СРО на работы по проектированию и обследованию. Ответственность компании застрахована на 1 0 000 000 руб.'
  }
  ]
.advantages-info
  .advantage
    .advantage__title.advantage__title-first.
      #[span 1000]  #[br] #[p проектов за ] #[p лет] #[span 7]
    .advantage__text.
      Более 1000 проектов за 7 лет по всей России и СНГ
  .advantage
    .advantage__title.advantage__title-second.
      #[p допуск] #[span СРО] 
    .advantage__text.
      Имеется допуск генерального проектировщика СРО на работы по проектированию и обследованию. Ответственность компании застрахована на 1 0 000 000 руб.
  .advantage
    .advantage__title.advantage__title-third.
      #[span крупние]  #[br] #[p заказчики] 
    .advantage__text.
      Имеется допуск генерального проектировщика СРО на работы по проектированию и обследованию. Ответственность компании застрахована на 1 0 000 000 руб.