.wrapper 
  .advantages-block-icons.block-green
    //-   .advantages-block-icons.block-blue  
    .block-icons
      a(href="#").advantages-icon
        .sprite.sprite-price
      .advantages-text Прайс
    .block-icons
      a(href="#").advantages-icon
        .sprite.sprite-articles
      .advantages-text Статьи
    .block-icons
      a(href="#").advantages-icon
        .sprite.sprite-mail
      .advantages-text Заказать
    .block-icons
      a(href="#").advantages-icon
        .sprite.sprite-reviews
      .advantages-text Отзывы
  .advantage-block-text
    .title.title__block ЗаГОЛОВОК     
    .article
      |Давно выяснено, что при оценке дизайна и композиции читаемый текст мешает сосредоточиться. Lorem Ipsum используют потому, что тот обеспечивает более или менее стандартное заполнение шаблона, а также реальное распределение букв и пробелов в абзацах, которое не получается при простой дубликации "Здесь ваш текст.. Здесь ваш текст.. Здесь ваш текст.." Многие программы электронной вёрстки и редакторы HTML используют Lorem Ipsum в качестве текста по умолчанию, так что поиск по ключевым словам "lorem ipsum" сразу показывает