.wrapper  
  .advantages
    ul
      -
        var advantages = [
          {
            img : 'img/advantages-1.png',
            text:'ПРОЕКТИРОВАНИе'
          }, 
          {
            img:'img/advantages-2.png',
            text:'Обследование'
          }, 
          {
            img:'img/advantages-3.png',
            text:'Тепловизионное Обследование'
          }, 
          {
            img:'img/advantages-4.png',
            text:'Дизайн проекты'
          }, 
          {
            img:'img/advantages-5.png',
            text:'Солнечные батареи'
          }, 
          {
            img:'img/advantages-6.png',
            text:'Строительство'
          }
        ]
      each item in advantages
        li.col-mobile-1-1.col-phablet-1-2.col-desktop-1-3
          div
            .advantages__img            
              img(src=item.img, alt="")
            .advantages__text=item.text 

