.contacts-block-background
  .map_wrapp
    .map#map
    .map_overlay
      .wrapper
        .contacts-block
          .contacts-block-phone
            .title.title-contacts Телефон:
            include phone
          .contacts-block-address
            .title.title-contacts Адрес:
            include address
          .contacts-block-time
            .title.title-contacts Прием абонентов:
            .time
              strong 9:00
              |
              |до 
              |
              strong 17:00,
              |
              |с ПН до ПТ