.hidden
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-1" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-1" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-1" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-2" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-3" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-4" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-4" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-4" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-5" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-5" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-5" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-5" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-6" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
	a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-6" data-width="864" data-height="864")
		img(src="img/img-portfolio-1.jpg" alt="")
.portfolio-wrap.offset
	.wrapper
		.title.title_white ПОРТФОЛИО
		.gallery
			.col-desktop-1-3.col-phablet-1-2.col-mobile-1-1 
				a(href="img/img-portfolio-1.jpg" data-fancybox="gallery-1" data-width="864" data-height="864")
					img(src="img/img-portfolio-1.jpg" alt="")
			.col-desktop-1-3.col-phablet-1-2.col-mobile-1-1 
				a(href="img/img-portfolio-2.jpg" data-fancybox="gallery-2" data-width="864" data-height="864")
					img(src="img/img-portfolio-2.jpg" alt="")
			.col-desktop-1-3.col-phablet-1-2.col-mobile-1-1 
				a(href="img/img-portfolio-3.jpg" data-fancybox="gallery-3" data-width="864" data-height="864")
					img(src="img/img-portfolio-3.jpg" alt="")
			.col-desktop-1-3.col-phablet-1-2.col-mobile-1-1 
				a(href="img/img-portfolio-4.jpg" data-fancybox="gallery-4" data-width="864" data-height="864")
					img(src="img/img-portfolio-4.jpg" alt="")
			.col-desktop-1-3.col-phablet-1-2.col-mobile-1-1 
				a(href="img/img-portfolio-5.jpg" data-fancybox="gallery-5" data-width="864" data-height="864")
					img(src="img/img-portfolio-5.jpg" alt="")
			.col-desktop-1-3.col-phablet-1-2.col-mobile-1-1 
				a(href="img/img-portfolio-6.jpg" data-fancybox="gallery-6" data-width="864" data-height="864")
					img(src="img/img-portfolio-6.jpg" alt="")