.portfolio-wrap.offset
	.wrapper
		.title.title_white ПОРТФОЛИО
		.gallery
			a(href="img/img-portfolio-1.jpg" data-fancybox="images" data-width="864" data-height="864")
				img(src="img/img-portfolio-1.jpg" alt="")
			a(href="img/img-portfolio-2.jpg" data-fancybox="images" data-width="864" data-height="864")
				img(src="img/img-portfolio-2.jpg" alt="")
			a(href="img/img-portfolio-3.jpg" data-fancybox="images" data-width="864" data-height="864")
				img(src="img/img-portfolio-3.jpg" alt="")
			a(href="img/img-portfolio-4.jpg" data-fancybox="images" data-width="864" data-height="864")
				img(src="img/img-portfolio-4.jpg" alt="")
			a(href="img/img-portfolio-5.jpg" data-fancybox="images" data-width="864" data-height="864")
				img(src="img/img-portfolio-5.jpg" alt="")
			a(href="img/img-portfolio-6.jpg" data-fancybox="images" data-width="864" data-height="864")
				img(src="img/img-portfolio-6.jpg" alt="")