script(src="https://maps.googleapis.com/maps/api/js?key=AIzaSyDVEVL-gksPv9x4tdzvh-_-XWpA_Rk8f-k")
script(src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js")
<script src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.3.5/jquery.fancybox.min.js"></script>
script(src="js/src.js", type="text/javascript")




