.baner{
  text-align: center;
  background-image: url("../img/header-background.png");
  background-size: cover;
  position: relative;
  height: 100vh;
  max-height: 900px;
  padding-bottom: 50px;
  display: flex;
  align-items: flex-end;
  &:before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #63b4094d;
  }
}