.guarantee {
	color: $white;
	position: relative;
	min-height: 95px;
	margin-bottom: 15px;
	@include breakpoint(xs) {
		font-size: 16px;
		padding-top: 10px;
	}
	@include breakpoint(sm) {
		font-size: 16px;
		padding-top: 20px;
	}
	@include breakpoint(md) {
		font-size: 19px;
		padding-top: 20px;
	}
	&:before {
		@include breakpoint(xs) {
			width: 50px;
		}
		@include breakpoint(sm) {
			width: 80px;
		}
		@include breakpoint(md) {
			width: 93px;
		}
	}
	&:nth-child(odd) {
		@include breakpoint(xs) {
			padding-left: 70px;
		}
		@include breakpoint(md) {
			padding-left: 110px;
		}
		background-color: $gren;
		padding-left: 110px;
		padding-right: 20px;
			&:before {
			content: '';
			position: absolute;
			top: 0;
			left: 0;
			bottom: 0;
			background: $neon-gren;

		}
		&>.guarantee__icon {
			position: absolute;
			top: 20%;
			left: 3%;
			bottom: 0;
		}
	}
	&:nth-child(even) {
		background-color: #2e81d9;
		padding-right: 110px;
		padding-left: 20px;
		@include breakpoint(xs) {
			padding-right: 70px;
		}
		@include breakpoint(md) {
			padding-right: 110px;
		}
		&:before {
			content: '';
			background: $neon-blue;
			position: absolute;
			top: 0;
			right: 0;
			bottom: 0;
		}
		&>.guarantee__icon {
			position: absolute;
			top: 20%;
			right: 3%;
			bottom: 0;
		}
	}
	&__info {
		text-align: left;
	}
}

.guarantee-wrap {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-around;
}
