.wrapper {
  position: relative;
  max-width: 960px;
  margin: 0 auto;
  padding: 0 $gutter/2;
}

.row {
  display:flex;
  margin: 0 $gutter/2*-1;
  flex-wrap:wrap;
}

[class*="col-"]{
  min-width: 100%;
  padding: 0 $gutter/2;
}

@include breakpoint (xs) {
  .col-mobile-1-1 {
    flex-basis: 100%;
    max-width: 100%;
    min-width: 100%;
  }
}

@include breakpoint (sm) {
  .col-phablet-1-2 {
    flex-basis: 50%;
    max-width: 50%;  
    min-width: 50%;
  }
   .col-phablet-1-1 {
    flex-basis: 100%;
    min-width: 100%;
    max-width: 100%;
  }
}

@include breakpoint (md) {
  .col-desktop-1-3 { 
    flex-basis: 33.33%;
    max-width: 33.33%;
    min-width: 33.33%;
  }
  .col-desktop-2-3 {  
    flex-basis: 66.66%;
    max-width: 66.66%;
    min-width: 66.66%;
  }
  .col-1-2 { 
    flex-basis: 50%;
    max-width: 50%;
    min-width: 50%;
  }
  .col-1-2 { 
    flex-basis: 50%;
    max-width: 50%;
    min-width: 50%;
  }
  .col-1-2 {
    flex-basis: 50%;
    max-width: 50%;
  }
}
@include breakpoint (lg) {
  .col-desktop-1-2 {
    flex-basis: 50%;
    max-width: 50%;
    min-width: 50%;
  }
  .col-desktop-full-1-6{
    flex-basis: 16.66%;
    max-width: 16.66%;
    min-width: 16.66%;
  }
}

$offset: 45px;

.offset {
  padding: $offset 0;
}