a.phones{
  text-decoration: none;
  color: $utra-dark-gray;
  font-size: 17px;
  & span{
    color: #000000;
    font-weight: bold;
    font-size: 26px;
  }
}
.contacts-block-phone{
  a.phones{
    padding-right: 30px;
    font-size: 19px;
    color:#000;
    span{
      color: $white;
      font-size: 30px;
    }
  }
}