a.phones{
  text-decoration: none;
  color: $utra-dark-gray;
  font-size: 17px;
  & span{
    color: $text-dark;
    font-weight: bold;
    font-size: 26px;
  }
}
.contacts-block-phone{
  a.phones{
    padding-right: 30px;
    font-size: 14px;
    color:#000;
    @include breakpoint (lg) {
      font-size: 19px;
    }
    span{
      color: $white;
      font-size: 20px;
      @include breakpoint (lg){
        font-size: 30px;
      }
    }
  }
}