.title{
  font-size: 41px;
  font-weight: bold;
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 50px;
  color: #000;
  &>span{
    color: $pink;
  }

}
.title.title__block{
    font-size: 31px;
    text-align: left;
    margin-bottom: 35px;
  } 
.title.title__footer{
  font-size: 14px;
  padding-top: 25px;
  padding-bottom: 92px;
  color: $white;
} 
.title.title-contacts{
  font-size: 19px;
  text-align: center;
  margin-bottom: 28px;
  @include breakpoint (lg) {
    text-align: left;
  }
}
.article{
  text-align: left;
}
.time{
  font-size: 21px;
  color: $white;
}

.title.title_white {
  color: $white;
}